<% include partials/header %>

<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <strong>Pizza Paradise</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!-- the ejs line checks for the current page and adds the "active" class to the nav-item-->
                    <li class="nav-item <%= typeof page !== "undefined" && page === "home" ? "active" : "" %>">
                        <a class="nav-link " href="/">Home
                            <!--<span class="sr-only">(current)</span>-->
                        </a>
                    </li>
                    <li class="nav-item <%= typeof page !== "undefined" && page === "menu" ? "active" : "" %>">
                        <a class="nav-link " href="/pizzas">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="/#bestSellers">Best seller</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#contactUs" class="nav-link">Contact us</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav nav-flex-icons ml-auto">
                    <% if(!currentUser){ %>
                    <li class="nav-item <%= typeof page !== "undefined" && page === "login" ? "active" : "" %>">
                        <a class="nav-link" href="/login">
                            <i class="fas fa-user"></i>
                            <span class="clearfix d-none d-sm-inline-block">Log In</span>
                        </a>
                    </li>
                    <% } else{ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="fas fa-user"></i> <span
                                class="clearfix d-none d-sm-inline-block">Log Out</span></a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>


    </nav>
    <!-- End Navbar -->
    <!--flash alert-->
    <div class="text-center">
        <% if(error && error.length>0){ %>
        <div class="alert alert-danger mb-0  alert-dismissible " role="alert"
            style="position: absolute; margin-top: 4.7rem; width:100%">
            <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
        <% if(success && success.length>0){ %>
        <div class="alert alert-success mb-0 alert-dismissible " role="alert"
            style="position: absolute; margin-top: 4.7rem; width:100%">
            <%= success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% }   %>
    </div>
</header>
<div class="parallax">
    <div>
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12 mb-3">
                    <div class="intro-info-content text-center">
                        <h1 class="display-3 mb-5 wow fadeInDown" data-wow-delay="0.3s">Pizza
                            <a class="deep-purple-text font-weight-bold">Paradise</a>
                        </h1>
                        <h5 class="text-uppercase mb-5 mt-1 font-weight-bold wow fadeInDown" data-wow-delay="0.3s">
                            Fast delivery & special prices</h5>
                        <a class="btn btn-outline-deep-purple btn-lg wow fadeInDown" data-wow-delay="0.3s">Menu</a>
                        <a class="btn btn-deep-purple btn-lg wow fadeInDown" data-wow-delay="0.3s">Best Seller</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</header>

<section class="container-fluid pt-5 pb-3" id="how-it-works">
    <div class="container text-center">
        <h1 class="font-weight-bold text-center">Skip The Drive!</h1>
        <p class="lead mb-3">Get Great Pizza In 4 Simple Steps</p>

        <div class="row">
            <div class="col-6 col-md-3">
                <!-- <img src="images/icons/discover.png" alt=""> -->
                <i class="far fa-compass fa-7x"></i>
                <h3 class="value-step mt-1">Discover</h3>
                <p class="text-muted">Find a Pizza Paradise</p>
            </div><!-- END col -->

            <div class="col-6 col-md-3">
                <i class="fas fa-pizza-slice fa-7x"></i>
                <h3 class="value-step mt-1">Choose</h3>
                <p class="text-muted">A pizza, drink, and dessert</p>
            </div><!-- END col -->

            <div class="col-6 col-md-3">
                <i class="far fa-credit-card fa-7x"></i>
                <h3 class="value-step mt-1">Pay</h3>
                <p class="text-muted">Pay online or with cash</p>
            </div><!-- END col -->

            <div class="col-6 col-md-3">
                <i class="fas fa-shipping-fast fa-7x"></i>
                <h3 class="value-step mt-1">Delivery</h3>
                <p class="text-muted">Get your food ASAP</p>
            </div><!-- END col -->
        </div><!-- END row -->
    </div><!-- END container -->
    <hr>
</section><!-- END container-fluid -->

<!-- Main layout -->
<section id="bestSellers">
    <div class="container">
        <!--Section: Best seller-->
        <section class="section extra-margins text-center pb-3 wow fadeIn" data-wow-delay="0.3s">
            <!--Section heading-->
            <h2 class="font-weight-bold text-center h1 mb-2">Our Bestsellers</h2>
            <!--Section description-->
            <p class="text-center grey-text mb-5 mx-auto w-responsive">Based on orders, ratings and reviews from our
                customers</p>

            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="card card-cascade">
                        <!--Featured image-->
                        <div class="view overlay z-depth-1 zoom mb-2">
                            <img src="https://images.pexels.com/photos/2232/vegetables-italian-pizza-restaurant.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                class="img-fluid" alt="First image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body card-body-cascade text-center">
                            <!--Excerpt-->
                            <h4 class="mb-3 font-weight-bold">The name here</h4>
                            <p><i class="fas fa-quote-right"></i>
                                The service is outstanding and that everything is fresh and
                                great especially the pizza i would want to go back.
                            </p>
                            <p>
                                <span class="text-success">Reviewed by</span>
                                <a><strong>Phuong</strong></a>, 18/03/2019
                            </p>
                        </div>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="view overlay z-depth-1 zoom mb-2">
                        <!--Featured image-->
                        <div class="view overlay z-depth-1 zoom mb-2">
                            <img src="https://images.pexels.com/photos/1435907/pexels-photo-1435907.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                class="img-fluid" alt="Second image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!--Excerpt-->
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="mb-3 font-weight-bold">The name here</h4>
                            <p>I think I'm in love! It's just so good! Melts in your mouth and leaves you wanting more.
                                5
                                stars!!!</p>
                            <p>
                                <span class="text-success">Reviewed by</span>
                                <a><strong>Praise</strong></a>, 18/03/2019
                            </p>
                        </div>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="view overlay z-depth-1 zoom mb-2">
                        <!--Featured image-->
                        <div class="view overlay z-depth-1 zoom mb-2">
                            <img src="https://images.pexels.com/photos/1435908/pexels-photo-1435908.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                class="img-fluid" alt="Third image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!--Excerpt-->
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="mb-3 font-weight-bold">The name here</h4>
                            <p>Pizza Paradise is sooooooooo awesome!!! They were really friendly and delivered the most
                                delicious
                                pizza ever.</p>
                            <p>
                                <span class="text-success">Reviewed by</span>
                                <a><strong>Son</strong></a>, 18/03/2019
                            </p>
                        </div>
                    </div>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!--Section: best sellers-->
    </div>
</section>



<% include partials/footer %>