<% include partials/header %>

<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <strong>Pizza Paradise <img src="https://img.icons8.com/wired/64/000000/italian-pizza.png"
                        style="height: 40px;"></strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!-- the ejs line checks for the current page and adds the "active" class to the nav-item-->
                    <li class="nav-item <%= typeof page !== "undefined" && page === "home" ? "active" : "" %>">
                        <a class="nav-link " href="/">Home
                            <!--<span class="sr-only">(current)</span>-->
                        </a>
                    </li>
                    <li class="nav-item <%= typeof page !== "undefined" && page === "menu" ? "active" : "" %>">
                        <a class="nav-link " href="/pizzas">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#bestSellers">Best seller</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#contactUs" class="nav-link">Contact us</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav nav-flex-icons ml-auto">
                    <% if(!currentUser){ %>
                    <li class="nav-item <%= typeof page !== "undefined" && page === "login" ? "active" : "" %>">
                        <a class="nav-link" href="/login">
                            <i class="fas fa-user"></i>
                            <span class="clearfix d-none d-sm-inline-block">Log In</span>
                        </a>
                    </li>
                    <% } else{ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="fas fa-user"></i> <span
                                class="clearfix d-none d-sm-inline-block">Log Out</span></a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>


    </nav>
    <!-- End Navbar -->
    <!--flash alert-->
    <div class="text-center">
        <% if(error && error.length>0){ %>
        <div class="alert alert-danger mb-0  alert-dismissible " role="alert"
            style="position: absolute; margin-top: 4.7rem; width:100%">
            <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
        <% if(success && success.length>0){ %>
        <div class="alert alert-success mb-0 alert-dismissible " role="alert"
            style="position: absolute; margin-top: 4.7rem; width:100%">
            <%= success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% }   %>
    </div>
</header>
<div class="parallax">
    <div>
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12 mb-3">
                    <div class="intro-info-content text-center">
                        <h1 class="display-3 mb-5 wow fadeInDown" data-wow-delay="0.3s">Pizza
                            <a class="deep-purple-text font-weight-bold">Paradise</a>
                        </h1>
                        <h5 class="text-uppercase mb-5 mt-1 font-weight-bold wow fadeInDown" data-wow-delay="0.3s">
                            Fast delivery & special prices</h5>
                        <a class="btn btn-outline-deep-purple btn-lg wow fadeInDown" data-wow-delay="0.3s">Menu</a>
                        <a class="btn btn-deep-purple btn-lg wow fadeInDown" data-wow-delay="0.3s">Best Seller</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</header>

<!-- Main layout -->
<main>
    <div class="container">
        <!--Section: Best seller-->
        <section id="bestSellers" class="section extra-margins text-center pb-3 wow fadeIn" data-wow-delay="0.3s">
            <!--Section heading-->
            <h2 class="font-weight-bold text-center h1 mt-5 mb-2">Our bestsellers</h2>
            <!--Section description-->
            <p class="text-center grey-text mb-5 mx-auto w-responsive">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Omnis labore saepe debitis minima rerum nostrum numquam rem quibusdam natus at dolorem
                nam reiciendis repellat doloribus, repudiandae illo, reprehenderit eaque. Similique adipisci cum
                excepturi, consectetur aut quis delectus autem atque voluptatem blanditiis soluta error maiores
                doloremque non tenetur culpa est! Doloremque.</p>

            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-4 col-md-4 mb-4">
                    <!--Featured image-->
                    <div class="view overlay z-depth-1 mb-2">
                        <img src="https://images.pexels.com/photos/2232/vegetables-italian-pizza-restaurant.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            class="img-fluid" alt="First image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Excerpt-->
                    <a href="" class="pink-text">
                        <h6 class="mb-3 mt-3"><i class="fa fa-map "></i><strong>Italian pizza</strong></h6>
                    </a>
                    <h4 class="mb-3 font-weight-bold">The name here</h4>
                    <p>by <a><strong>Phuong</strong></a>, 18/03/2019</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quos ea illum voluptatem eos.
                        Assumenda, perferendis atque? Officiis, voluptatibus odio?</p>
                    <a class="btn btn-primary">Read more</a>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-4 mb-4">
                    <!--Featured image-->
                    <div class="view overlay z-depth-1 mb-2">
                        <img src="https://images.pexels.com/photos/1435907/pexels-photo-1435907.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            class="img-fluid" alt="Second image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Excerpt-->
                    <a href="" class="indigo-text">
                        <h6 class="mb-3 mt-3"><i class="fa fa-graduation-cap"></i><strong>US pizza</strong></h6>
                    </a>
                    <h4 class="mb-3 font-weight-bold">The name here</h4>
                    <p>by <a><strong>Praise</strong></a>, 18/03/2019</p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores.</p>
                    <a class="btn btn-primary">Read more</a>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-4 mb-4">
                    <!--Featured image-->
                    <div class="view overlay z-depth-1 mb-2">
                        <img src="https://images.pexels.com/photos/1435908/pexels-photo-1435908.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            class="img-fluid" alt="Third image">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Excerpt-->
                    <a href="" class="cyan-text">
                        <h6 class="mb-3 mt-3"><i class="fa fa-fire "></i><strong> Russian pizza</strong></h6>
                    </a>
                    <h4 class="mb-3 font-weight-bold">The name here</h4>
                    <p>by <a><strong>Son</strong></a>, 18/03/2019</p>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, quia consequuntur
                        magni dolores eos qui ratione voluptatem.</p>
                    <a class="btn btn-primary">Read more</a>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!--Section: best sellers-->
    </div>
</main>
<!-- End main -->

<!--Footer-->
<footer class="page-footer pt-4 mt-4   text-center text-md-left" id="contactUs">
    <!--Footer Links-->
    <div class="container">
        <div class="row">
            <!--First column-->
            <div class="col-md-4 text-center">
                <h5 class="text-uppercase font-weight-bold">Address</h5>
                <p>Pizza Paradise</p>
                <p>1234 Sunset ABC,
                    Hoang Quoc Viet, Hanoi</p>
                <!--Social buttons-->
                <hr>
                <h5 class="text-uppercase font-weight-bold">Connect Us</h5>
                <div class="mb-3">
                    <a class="btn-floating btn-sm btn-fb" type="button" role="button"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn-floating btn-sm btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
                    <a class="btn-floating btn-sm btn-yt" type="button" role="button"><i class="fab fa-youtube"></i></a>
                    <a class="btn-floating btn-sm btn-git" type="button" role="button"><i class="fab fa-github"></i></a>
                    <a class="btn-floating btn-sm btn-ins" type="button" role="button"><i
                            class="fab fa-instagram"></i></a>
                </div>
                <!--/.Social buttons-->
            </div>
            <!--/.First column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Second column-->
            <div class="col-md-4 ml-auto">
                <h5 class="text-uppercase font-weight-bold text-center">Delivery hours</h5>
                <div class="container">
                    <div id="textbox">
                        <p style="float: left;">Sun</p>
                        <p style="float: right;">11:00AM - 7:45PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Mon</p>
                        <p style="float: right;">10:00AM - 9:45PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Tue</p>
                        <p style="float: right;">Closed</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Wed</p>
                        <p style="float: right;">10:00AM - 9:45PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Thur</p>
                        <p style="float: right;">10:00AM - 9:45PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Fri</p>
                        <p style="float: right;">10:00AM - 10:45PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Sat</p>
                        <p style="float: right;">11:00AM - 10:45PM</p>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>

            <!--/.Second column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Third column-->
            <div class="col-md-4 ml-auto">
                <h5 class="text-uppercase font-weight-bold text-center">Take out hour</h5>
                <div class="container">
                    <div id="textbox">
                        <p style="float: left;">Sun</p>
                        <p style="float: right;">11:00AM - 8:00PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Mon</p>
                        <p style="float: right;">10:00AM - 10:00PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Tue</p>
                        <p style="float: right;">Closed</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Wed</p>
                        <p style="float: right;">10:00AM - 10:00PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Thur</p>
                        <p style="float: right;">10:00AM - 10:00PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Fri</p>
                        <p style="float: right;">10:00AM - 11:00PM</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="textbox">
                        <p style="float: left;">Sat</p>
                        <p style="float: right;">11:00AM - 11:00PM</p>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
            <!--/.Third column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright pt-3 text-center">
        <div class="container-fluid">
            <p>From <strong>Pizza Paradise</strong> with love!</p>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

<% include partials/footer %>