<% include ../partials/header%>

<div style="height: 50px"></div>
<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <h1>Edit <%= food.name %></h1>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <form action="/foods/<%= food._id %>?_method=PUT" method="post" >
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" name="food[name]" value="<%= food.name%>" id="name">
            </div>
            <div class="form-group">
                <label for="cost">Cost</label>
                <input class="form-control" type="number" name="food[cost]" value="<%= food.cost%>" min="0.01" step="0.01" id="cost">
            </div>

            <div class="form-group">
                <label for="image">Image</label><br>

                    <input class="form-control" type="text" name="food[image]" value="<%= food.image%>" placeholder="image url" id="image">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" name="food[description]" value="<%= food.description%>" id="description">
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <input class="form-control" type="text" name="food[type]" value="<%= food.type%>" id="type">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>

        </form>
        <a href="/foods">Go To Menu</a>
    </div>

</div>




<% include ../partials/footer%>